<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<h2>{{ event[1] }}</h2>

<p>
Date: {{ event[2] }} <br>
Time: {{ event[3] }} <br>
Venue: {{ event[4] }} <br>
Theme: {{ event[6] }} <br>
Requirements: {{ event[7] }}
</p>

<hr>

<h3>Registration Form</h3>

<form method="POST">

First Name: <input type="text" name="first_name"><br><br>
Middle Name: <input type="text" name="middle_name"><br><br>
Last Name: <input type="text" name="last_name"><br><br>

Year: <input type="text" name="year"><br><br>
Department: <input type="text" name="dept"><br><br>
Section: <input type="text" name="section"><br><br>
Roll No: <input type="text" name="roll_no"><br><br>
Phone: <input type="text" name="phone"><br><br>

<button type="submit">Submit Registration</button>

</form>