

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#7c3aed">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="apple-touch-icon" href="/static/icons/icon-192.png">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <script>
        function toggleFields() {
            var role = document.getElementById("role").value;

            if (role === "student") {
                document.getElementById("student_fields").style.display = "block";
                document.getElementById("admin_fields").style.display = "none";
            } 
            else if (role === "admin") {
                document.getElementById("student_fields").style.display = "none";
                document.getElementById("admin_fields").style.display = "block";
            }
        }
    </script>
</head>

<body>

<div class="center-wrapper">
    <div class="glass-card">

        <h2>✨ Login ✨</h2>
        

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-message">
                {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST" autocomplete="off">
            <input type="hidden" name="role" value="{{ role }}">

            {% if role == "student" %}
                <input type="email" name="email" placeholder="Email" required autocomplete="off">
                <input type="password" name="password" placeholder="Password" required autocomplete="new-password">

            {% elif role == "admin" %}
                <input type="text" name="username" placeholder="Username" required autocomplete="off">
                <input type="password" name="password" placeholder="Password" required autocomplete="new-password">
            {% endif %}

            <button type="submit" class="primary-btn">Login 🌸</button>
            <p class="forgot">
                <a href="/forgot_password">Forgot Password?</a>
            </p>
        </form>

        <a href="/select_role" class="back-link">← Back</a>

    </div>
</div>

<script>
if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/service-worker.js');
}
</script>
</body>
</html>



