<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<div class="login-card">

<h2>✨ Student Login ✨</h2>

<form method="POST">

<label>Email:</label>
<input type="email" name="email" required>

<label>Password:</label>
<input type="password" name="password" required>

<button type="submit">Login</button>

</form>

<a href="/">Back</a>

</div>